
.container {
  display: flex;
  height: 100vh;
  background-color: burlywood;

  .arrows {
    min-width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 390px;
  }
}

.imageBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 490px;

  .image {
    width: 70%;
  }
}
