:root {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark light;
  }

  *::selection {
    background: #4db6ac;
  }
}

html, body {
  margin: 0;
}
